<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bugCrush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B58BC5651BC716AB00A6F762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58BC5791BC716AB00A6F762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58BC5841BC716AB00A6F762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
